<section>
    <h2 class="page-title" data-bind="text: title"></h2>
    <button data-bind="click: deleteUser">Delete</button>
    <h4>Basic Info</h4>
    <div data-bind="compose: { model:user().BasicInfo, view:'views/userDetailsBasicInfo' }"></div>
    <h4>Phones</h4>
    <div data-bind="with: user().PhoneList">
        <button>Edit</button>
        <ul data-bind="foreach: List">
            <li>
                <dl>
                    <dt>SmsReady</dt>
                    <dd data-bind="text: SmsReady"></dd>
                    <dt>PhoneNumber</dt>
                    <dd data-bind="text: PhoneNumber"></dd>
                    <dt>Extension</dt>
                    <dd data-bind="text: Extension"></dd>
                    <dt>IsDefault</dt>
                    <dd data-bind="text: $index() == $parent.DefaultPhoneIndex"></dd>
                </dl>
            </li>
        </ul>
    </div>
</section>